body
{
	margin: 0;
}
#background
{
	position:absolute;
	background-position: center;
	background-image: url("../assets/background2.png");
	background-repeat: no-repeat;
	background-color: black;
	height: 100%;
	width: 100%;
	display: block;
}
.topBanner
{
	height:66px;
	width:100%;
	position:fixed;
}
#NavBanner
{
	height:100%;
	width:100%;
	position:absolute;
}
#LeftNavigation
{
	height:38px;
	width: 591px;
	position:absolute;
	left: 0;
}
#LeftNavigation ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}
#LeftNavigation li
{
	float:left;
}
#LeftNavigation li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
	background-color: #8A7F72;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
#LeftNavigation li a:hover
{
	background-color: #70675D;
	opacity: 1;
	filter: alpha(opacity=100);
}


#RightNavigation
{
	height:40px;
	width: 329px;
	position:absolute;
	right: 0;
}
#RightNavigation ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}
#RightNavigation li
{
	float:right;
}
#RightNavigation li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
	background-color: #8A7F72;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
#RightNavigation li a:hover
{
	background-color: #70675D;
	opacity: 1;
	filter: alpha(opacity=100);
}


.dropbtn li, a
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#RightNavigation li a:hover, .Communitydropdown:hover .dropbtn 
{
    background-color: #70675D;
}
#RightNavigation li.Communitydropdown 
{
    display: inline-block;
}
.Communitydropdown-content {
    display: none;
    position: absolute;
    background-color: #7C7266;
    min-width: 100px;
	left: 77px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.Communitydropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.Communitydropdown-content a:hover 
{
	background-color: #8A7F72
}
.Communitydropdown:hover .Communitydropdown-content 
{
    display: block;
}

#Navigation li a:hover, .Streamersdropdown:hover .dropbtn 
{
    background-color: red;
}
#Navigation li.Streamersdropdown 
{
    display: inline-block;
}
.Streamersdropdown-content {
    display: none;
    position: absolute;
    background-color: #7C7266;
    min-width: 100px;
	left: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.Streamersdropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.Streamersdropdown-content a:hover 
{
	background-color: #8A7F72
}
.Streamersdropdown:hover .Streamersdropdown-content 
{
    display: block;
}


.VideoFrame
{
	height:368px;
	width:648px;
	margin: auto;
	top: 100px;
	position:relative;
}
#HomeVidFrame
{
	height: 100%;
	width: 100%;
	position:absolute;
}
#Video
{
	height:354px;
	width:634px;
	margin:auto;
	top: 6px; left: 6px;
	position:absolute;
}
#FillerImage
{
	height:100%;
	width:100%;
}
#Unicorn
{
	height: 100%;
	width: 100%;
}

.TwitterFeed
{
	height:200px;
	width: 310px;
	margin:auto;
	position:relative;
	left:500px;
	bottom:235px;
	display: block;
}


.SovBanner
{
	height: 125px;
	width: 100%;
	position:absolute;
	bottom: 160px;
}
#Banner
{
	height: 100%;
	width: 100%;
	position:absolute;
}
.LinkToStreams
{
	background-image: url(../assets/SovButton.png)	
}
.LinkToStreams:hover
{
	background-image: url(../assets/SovPressed.png)
}
.FooterBanner
{
	height: 47px;
	width: 100%;
	bottom: 0;
	position:fixed;
	
}
#BottomBanner
{
	height: 100%;
	width: 100%;
	margin: auto;
	position: absolute;
   	bottom:0px;
}
#FooterButtons
{
	height: 100%;
	width: 150px;
    bottom: 10px;
	position: absolute;
	opacity: 0.2;
}
#FooterButtons ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}
#FooterButtons li
{
	float: left;
	width: 50px;
	height: 50px;
    padding: 10px;
}
#FooterButtons li a
{
	position: absolute;
}
.TeamSpeak
{
	height: 100%;
	width: 100%;
}
.Youtube
{
	height: 100%;
	width: 100%;
}
.Discord
{
	height: 100%;
	width: 100%;
}












