#SovPage
{
	height: 1800px;
	width: 1550px;
	margin: auto;
	position: relative;
}
#Logo
{
	height: 90px;
	width: 90px;
	left: 47.05%;
	top: -20px;
	position: absolute;
}
#SovLogo
{
	height: 100%;
	width: 100%;
	position: absolute;
}
#SovGlow
{
	height: 74%;
	width: 100%;
	top: 17px;
	position: absolute;
}
#SovGlow:hover + #SovAlert
{
	display:block;
}
#SovAlert:hover
{
	display: block;
}
#SovAlert
{
	height: 300px;
	width: 500px;
	top: 80px;
	left: -200px;
	position: absolute;
	border-radius: 50px;
	background-color: #7A7366;
	display: none;
}
#InnerBorder
{
	height: 280px;
	width: 480px;
	top: 10px;
	left: 10px;
	margin: auto;
	position: absolute;
	border-radius: 50px;
	background-color: #1E1211;
}
#AlertText
{
	color: white;
}

.active
{
	background-color: #59524A;
	opacity: 1;
	filter: alpha(opacity=100);
}
#LeftHalf
{
	width: 50%;
	height: 100%;
	background-color: violet;
	opacity: 0.1;
	position: absolute;
	display: none;
}

#TopBanner
{
	width: 100%;
	height: 60px;
	opacity: 0.9;
	top: 0;
	position: absolute;
	background-color: #837B6E;
    border-bottom: 20px solid #1C1010;
}
#BottomBanner
{
	width: 100%;
	height: 60px;
	opacity: 0.9;
	position: absolute;
	background-color: #837B6E;
    border-top: 20px solid #1C1010;
}

span
{
	height: 100%;
	width: 100%;
}
#background
{
	position:fixed;
	background-image: url("../assets/background2.png");
	background-color: black;
	height: 100%;
	width: 100%;
}
.topBanner
{
	height: 66px;
	width: 100%;
	position:absolute;
}
#NavBanner
{
	width: 100%;
	margin: 0 auto;
}
#LeftNavigation
{
	top: 4px;
	width: 45%;
	height: 40px;
	position:absolute;
}
#LeftNavigation ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}
#LeftNavigation li
{
	float:left;
}
#LeftNavigation li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 5px 10px;
	text-decoration: none;
	opacity: 0.5;
	border-right: 1px solid #FFFFFF;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
#LeftNavigation li a:hover
{
	background-color: #70675D;
	opacity: 1;
	filter: alpha(opacity=100);
}


#RightNavigation
{
	top: 4px;
	height:30px;
	position:absolute;
	right: 30px;
	display: none;
}
#RightNavigation ul 
{
    list-style-type: none;
	height:100%;
	width:100%;
    margin: 0;
    padding: 0;
	overflow: hidden;
}
#RightNavigation li
{
	float:right;
}
#RightNavigation li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 5px 10px;
	border-left: 1px solid #FFFFFF;
	opacity: 0.5;
	height:100%;
	width:100%;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
#RightNavigation li a:hover
{
	background-color: #70675D;
	opacity: 1;
	filter: alpha(opacity=100);
}


.dropbtn li, a
{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}
#RightNavigation li a:hover, .Communitydropdown:hover .dropbtn 
{
    background-color: #70675D;
}
#RightNavigation li.Communitydropdown 
{
    display: inline-block;
}
.Communitydropdown-content {
    display: none;
    position: absolute;
	width: 108px;
    background-color: #7C7266;
    box-shadow: 0% 0% 0% 0% rgba(0,0,0,0.2);
    z-index: 1;
}
.Communitydropdown-content a {
    padding: 4% 8%;
    text-decoration: none;
    display: block;
    text-align: left;
}
.Communitydropdown-content a:hover 
{
	background-color: #8A7F72
}
.Communitydropdown:hover .Communitydropdown-content 
{
    display: block;
}
.Streamersdropdown-content {
    display: none;
    position: absolute;
    background-color: #7C7266;
    min-width: 10%;
	width: 119px;
	left: 25%;
    box-shadow: 0% 4% 8% 0% rgba(0,0,0,0.2);
    z-index: 1;
}
.Streamersdropdown-content a {
    color: white;
    padding: 6% 8%;
    text-decoration: none;
    display: block;
    text-align: left;
}
.Streamersdropdown-content a:hover 
{
	background-color: #8A7F72
}
.Streamersdropdown:hover .Streamersdropdown-content 
{
    display: block;
}

#MainBody
{
	width: 100%;
	height: 900px;
	margin: auto;
	position: absolute;
	
}
#BusinessInquiries
{
	height: 250px;
	width: 95%;
	top: 10%;
	left: 2.5%;
	position: absolute;
	background-color: #837B6E;
    border: 20px solid #1C1010;
}
#SovBusInquiries img
{
	width: 20%;
	height: 100%;
	border-right: 10px solid #1C1010;
	position: absolute;
}
#SovBusDescription
{
	width: 80%;
	height: 100%;
	right: 0;
	text-align: center;
	position: absolute;
	color: hsla(55,83%,41%,1.00);
	font-weight: bolder;
	font-size: 110%;
}
#WebInquiries
{
	height: 250px;
	width: 95%;
	top: 40%;
	left: 2.5%;
	position: absolute;
	background-color: #837B6E;
    border: 20px solid #1C1010;
}
#WebBusInquiries img
{
	width: 20%;
	height: 100%;
	border-right: 10px solid #1C1010;
	position: absolute;
}
#WebBusDescription
{
	width: 80%;
	height: 100%;
	right: 0;
	text-align: center;
	position: absolute;
	color: hsla(55,83%,41%,1.00);
	font-weight: bolder;
	font-size: 110%;
}
.VideoFrame
{
	height:450px;
	width:700px;
	left: 420px;
	top: 150px;
	position:absolute;
}
#HomeVidFrame
{
	height: 100%;
	width: 100%;
	position:absolute;
    border-radius: 50px;
}
#Video
{
	height:97%;
	width:97%;
	top: 1.5%;
	left: 1.5%;
	position:absolute;
}
#FillerImage
{
	height:100%;
	width:100%;
    border-radius: 50px;
	position: absolute;
}
#Unicorn
{
	height: 100%;
	width: 100%;
    border-radius: 50px;
	position: absolute;
}
#socialandnews
{
	width: 100%;
	height: 900px;
	top: 900px;
	left: 1%;
	position: absolute;
}
#News
{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
	height: 800px;
	width: 500px;
	position: absolute;
    border: 10px solid #1C1010;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #7A7366;
}
.NewsPanel
{
	width: 95%;
	height: 35%;
	position:absolute;
	border-radius: 20px;
	border: 5px solid black;
	background-color:#1D1D1B;
	
}
#InnerPanel ul
{
	margin: 0 auto;
	height: 100%;
	width: 100%;
	left: -40px;
	position: absolute;
    list-style-type: none;
}
#InnerPanel li
{
	padding-bottom: 280px;
}

.NewsTitle
{
	text-align: center;
	border-bottom: 5px solid black;
	color:#F39200;
	font-weight: bolder;
}
.NewsPhoto
{
	height: 100%;
	width: 70%;
	left: 15%;
	opacity: 0.2;
	top: 0;
	position: absolute;
}
.NewsDescription
{
	position: absolute;
	width: 95%;
	text-align: center;
	color:hsla(55,83%,41%,1.00);
}
#Events
{
	height: 800px;
	width: 535px;
	left: 31.6%;
	position: absolute;
    border: 10px solid #1C1010;
	background-color: #7A7366;
}
#Event
{
	height: 750px;
	width: 450px;
	left: 14px;
	top: 15px;
	position: absolute;
}
#EventImage
{
	left: 105px;
	position: absolute;
}
#EventTitle
{
	border-top: 5px solid black;
	top: 250px;
	text-align: center;
	width: 100%;
	position: absolute;
}
#EventDescription
{
	width: 96%;
	top: 300px;
	left: 20px;
	position:absolute;
	color: white;
}
#Twitter
{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
	height: 800px;
	width: 500px;
	right: 25px;
	position: absolute;
}

.twitter-timeline
{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
	height:100%;
	width:100%;
	position: absolute;
}
#Space
{
	height: 10%;
	width: 100%;
	top: 210%;
	position: absolute;
	background-color: aquamarine;
}
#BottomBanner
{	
	width: 100%;
	height: 60px;
	position: absolute;
}
#FooterButtons
{
	height: 40px;
	width: 150px;
	opacity: 0.5;
	bottom: 0;
	position: absolute;
}
#FooterButtons ul 
{
	height: 100%;
	width: 100%;
    list-style-type: none;
	padding: 0;
	position: absolute;
}
#FooterButtons li
{
	float: left;
	width: 50px;
	height: 50px;
}
.TeamSpeak
{
	height: 30px;
}
.Youtube
{
	height: 30px;
	width: 30px;
}
.Discord
{
	height: 30px;
	width: 30px;
}
.Streams
{
	margin: auto;
	height: 700px;
	width: 1500px;
	left: 25px;
	position: absolute;
	top: 100px;
}
#StreamFeed
{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #1F1F1F;
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
}
#Streamer
{
	border-radius: 20px;
	top: 1.3%;
	left: 0.5%;
	height: 87%;
	width: 70%;
	position: absolute;
	background-color: #171717;
}
#Chat
{
	border-radius: 20px;
	right: 0.5%;
	top: 1.3%;
	height: 97.3%;
	width: 28.5%;
	position: absolute;
	background-color: #171717;
}
#StreamInfo
{
	border-radius: 10px;
	bottom: 1.3%;
	left: 0.5%;
	position: absolute;
	height: 9%;
	width: 50%;
	background-color: #171717;
}
#streamsource
{
	border-radius: 20px;
}
#chatsource
{
	border-radius: 20px;
}
#TwitchFollow
{
	border-radius: 10px;
	bottom: 1.3%;
	position: absolute;
	height: 9%;
	width: 19.5%;
	right: 29.5%;
	background-color: #171717;
}
#FollowStream
{
	height: 100%;
	width: 33%;
	position: absolute;
	background-color: rebeccapurple;
    background-image: linear-gradient(to bottom, black 94%,white 0%), url('w3css.gif');
  	background-blend-mode: color-dodge;
	box-shadow: inset 0px 0px 5px #000;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
#follow
{
	position: absolute;
	left: 30%;
	top: 30%;
	color: white;
	font: bold;
	font-weight:bolder;
	font-family:Arial,sans-serif;
}
#DonateStream
{
	left: 33%;
	height: 100%;
	width: 34%;
	position: absolute;
	background-color: rebeccapurple;
    background-image: linear-gradient(to bottom, black 94%,white 0%), url('w3css.gif');
  	background-blend-mode: color-dodge;
	box-shadow: inset 0px 0px 5px #000;
}
#Donate
{
	position: absolute;
	left: 25%;
	top: 30%;
	color: white;
	font: bold;
	font-weight:bolder;
	font-family:Arial,sans-serif;
}
#SubStream
{
	right: 0;
	height: 100%;
	width: 33%;
	position: absolute;
	background-color: rebeccapurple;
    background-image: linear-gradient(to bottom, black 94%,white 0%), url('w3css.gif');
  	background-blend-mode: color-dodge;
	box-shadow: inset 0px 0px 5px #000;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}
#Subscribe
{
	position: absolute;
	left: 15%;
	top: 30%;
	color: white;
	font: bold;
	font-weight:bolder;
	font-family:Arial,sans-serif;
}
.stream-meta
{
	position: absolute;
	top: 30%;
	left: 30%;
}
#StreamersName
{
	font: bold;
	font-weight:bolder;
	font-family:Arial,sans-serif;
	color: white;
}
.playing
{
	font: bold;
	font-weight:bolder;
	font-family:Arial,sans-serif;
	color: rebeccapurple;
}
#GamePlayed
{
	font: bold;
	font-weight:bolder;
	font-family:Arial,sans-serif;
	color: white;
}
#OtherStreams
{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #1A1A1A;
	position: relative;
	height: 200%;
	width: 100%;
	margin: auto;
	top: 0;
}
#MalicPhoto
{
	border-radius: 10%;
}
.Streamer
{
	height: 70px;
	width: 95%;
	left: 2%;
	position: absolute;
	background-color: #766F64;
    border: 10px solid #1C1010;
	border-radius: 50px;
	cursor: pointer;
}
.Streamer span
{
	border-left: 5px solid black;
	text-align: center;
	font-weight: bolder;
	font-size: 200%;
	height: 100%;
	position: absolute;
}
.Column li
{
	padding-bottom: 80px;
}
.paigination
{
	bottom: 5%;
	left: 33%;
	position: absolute;
}
#column1
{
	position: absolute;
	width: 32%;
	height: 88%;
	left: 1%;
	top: 1.5%;
	background-color: #222222;
}
#column2
{
	position: absolute;
	width: 32%;
	height: 88%;
	left: 34%;
	top: 1.5%;
	background-color: #222222;
}
#column3
{
	position: absolute;
	width: 32%;
	height: 88%;
	right: 1%;
	top: 1.5%;
	background-color: #222222;
}
#Frame
{
	border-radius: 10%;
	width: 96%;
	height: 5%;
	left: 2%;
	top: 1%;
	position: absolute;
	background-color: #262626;
	
}
.LIFrame
{
	border-radius: 10%;
	width: 20%;
	height: 25%;
	position: absolute;
	background-color:#242424;
	cursor: pointer;
}
.LIPhoto
{
	border-radius: 10%;
	width: 100%;
	height: 90%;
	position: absolute;
}
.LILiveStatus
{
	border-radius: 100%;
	height: 10%;
	width: 10%;
	bottom: 0%;
	left: 0%;
	position: absolute;
	background-color:#242424;
}
.LIStreamerInfo
{
	font-family:Arial,sans-serif;
	position: absolute;
	text-align: center;
	font-weight: bolder;
	width: 80%;
	bottom: 5px;
	left: 40px;
}
.UniqueIcon
{
	border-radius: 10%;
}
.Photo
{
	height: 90%;
	width: 10%;
	top: 5%;
	left: 0.6%;
	position: absolute;
}
.LiveStatus
{
	width: 5%;
	height: 45%;
	left: 12.7%;
	top: 30%;
	position: absolute;
}
.StreamerInfo
{
	border-radius: 10%;
	width: 79%;
	height: 90%;
	top: 5%;
	right: 0.6%;
	position: absolute;
}
.LiveButton
{
	height: 100%;
	width: 100%;
	position: absolute;
}
#page1
{
	display:block;
}
#page2
{
	display:none;
}
#page3
{
	display:none;
}
#page4
{
	display:none;
}
#page5
{
	display:none;
}
#AboutUsPanel
{
	height: 1670px;
	width: 95%;
	left: 2.5%;
	top: 10%;
	background-color:#1D1D1B; 
	border-radius: 50px;
	border: 10px solid hsla(0,1%,19%,1.00);
	position: absolute;
}
#History
{	
	height: 200px;
	width: 100%;
	top: 1%;
	position: absolute;
}
#History span
{
	color:hsla(55,83%,41%,1.00);
	text-align: center;
	font-size: 200%;
	font-weight: bolder;
	position: absolute;
}
#History p
{
	color: #F39200;
	top: 80%;
	width: 100%;
	text-align: center;
	font-weight: bolder;
	position: absolute;
}
#History img
{
	height: 100px;
	width: 100px;
	top: 30%;
	left: 40%;
	position: absolute;
}

#Lore
{	
	height: 200px;
	width: 100%;
	top: 14%;
	position: absolute;
}
#Lore span
{
	color:hsla(55,83%,41%,1.00);
	text-align: center;
	font-size: 200%;
	font-weight: bolder;
	position: absolute;
}
#Lore p
{
	color: #F39200;
	top: 20%;
	width: 90%;
	left: 5%;
	text-align: center;
	font-weight: bolder;
	position: absolute;
}
#SupportSov
{
	height: 700px;
	width: 48%;
	top: 20%;
	left: 1%;
	background-color:#1D1D1B; 
	border-radius: 50px;
	border: 10px solid hsla(0,1%,19%,1.00);
	position: absolute;
}
#SovIcon
{
	height: 400px;
	width: 400px;
	left: 23%;
	border-left: 10px solid hsla(0,1%,19%,1.00);
	border-right: 10px solid hsla(0,1%,19%,1.00);
	border-bottom: 10px solid hsla(0,1%,19%,1.00);
	cursor: pointer;
	position: absolute;
}
#SupportDraca
{
	height: 700px;
	width: 48%;
	top: 20%;
	right: 1%;
	background-color:#1D1D1B; 
	border-radius: 50px;
	border: 10px solid hsla(0,1%,19%,1.00);
	position: absolute;
}
#DracaProfileImage
{
	height: 400px;
	width: 400px;
	left: 23%;
	border-left: 10px solid hsla(0,1%,19%,1.00);
	border-right: 10px solid hsla(0,1%,19%,1.00);
	border-bottom: 10px solid hsla(0,1%,19%,1.00);
	cursor: pointer;
	position: absolute;
}
.SupportMessage
{
	width: 80%;
	top: 70%;
	left: 10%;
	color: #F39200;
	text-align: center;
	font-weight: bolder;
	position: absolute;
}







